main { margin-bottom: 39vh; }

.container {
    display: flex;
    margin-left: 3vw;
    padding: 4vw;
    gap: 10vw;
}

img { max-width: 10vw; } 

.image { position: relative; }

.attribute {
    font-size: 1vw;
    display: flex;
    text-align: center;
    position: absolute;
    left: -1vw;
    width: 10vw;
}